.genres-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
  background-color: black;
}

.genres-title {
  color: white;
  font-weight: 100;
  font-size: 30px;
}

.genres {
  display: flex;
  flex-direction: row;
  width: 140%;
  height: 450px;
  justify-content: space-around;
  position: relative;
}

#move-forward {
  right: 550px;
  animation: moveForward ease 0.5s;
}

#move-forward-forward {
  right: 700px;
  animation: moveForwardForward ease 0.5s;
}

#move-backward {
  right: 0;
  animation: moveBackward ease 0.5s;
}

#move-backmid {
  right: 350px;
  animation: moveBackmid ease 0.5s;
}

@keyframes moveForward {
  0% {
    right: 0;
  }
  100% {
    right: 550px;
  }
}

@keyframes moveForwardForward {
  0% {
    right: 350px;
  }
  100% {
    right: 700px;
  }
}

@keyframes moveBackmid {
  0% {
    right: 700px;
  }
  100% {
    right: 350px;
  }
}

@keyframes moveBackward {
  0% {
    right: 550px;
  }
  100% {
    right: 0;
  }
}

.genre-card {
  background-size: cover;
  background-position: center center;
  width: 250px;
  height: 400px;
  filter: grayscale(20%);
  transition: 0.5s;
}

.genre-card:hover {
  filter: grayscale(0);
  transform: scale(1.1, 1.1);
}

.genre-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
}

.genre-name h3 {
  color: white;
  font-size: 40px;
}

.genre-name:hover {
  opacity: 1;
}

#romance {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.596),
      transparent 90%,
      black
    ),
    url(https://res.cloudinary.com/drdgu83bp/image/upload/v1684257889/pelis/romance_e6fniu.jpg);
}

#romance h3 {
  text-shadow: 2px 2px 5px rgb(204, 25, 25);
}

#sci-fi {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.596),
      transparent 90%,
      black
    ),
    url(https://res.cloudinary.com/drdgu83bp/image/upload/v1684257889/pelis/science_fiction_rdceeo.jpg);
}

#sci-fi h3 {
  text-shadow: 2px 2px 5px rgb(67, 138, 245);
}

#horror {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.596),
      transparent 90%,
      black
    ),
    url(https://res.cloudinary.com/drdgu83bp/image/upload/v1684257889/pelis/horror_p0sof5.jpg);
}

#horror h3 {
  text-shadow: 2px 2px 5px rgb(63, 14, 141);
}

#art {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.596),
      transparent 90%,
      black
    ),
    url(https://res.cloudinary.com/drdgu83bp/image/upload/v1684257890/pelis/art_wdry7i.jpg);
}

#art h3 {
  text-shadow: 2px 2px 5px rgb(187, 93, 5);
}

#drama {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.596),
      transparent 90%,
      black
    ),
    url(https://res.cloudinary.com/drdgu83bp/image/upload/v1684257890/pelis/drama_idmszn.jpg);
}

#drama h3 {
  text-shadow: 2px 2px 5px rgb(150, 100, 151);
}

#fantasy {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.596),
      transparent 90%,
      black
    ),
    url(https://res.cloudinary.com/drdgu83bp/image/upload/v1684257889/pelis/fantasy_d7psn9.jpg);
}

#fantasy h3 {
  text-shadow: 2px 2px 5px rgb(27, 160, 87);
}

.genre-arrow {
  position: relative;
  bottom: 300px;
  height: 1px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.arrow-button {
  border: none;
  background-color: #ffffff00;
  color: rgba(255, 255, 255, 0.801);
  cursor: pointer;
}

.arrow-icon {
  opacity: 0.4;
  transition: opacity 0.5s;
}

.arrow-icon:hover {
  opacity: 1;
}

#arrow-hidden {
  display: none;
}

#arrow-show {
  display: contents;
}

.aux-hidden {
  display: none;
}

.aux-show {
  width: 100px;
}

@media (max-width: 480px) {
  .genres-container {
    padding: 10px;
  }

  .genres-title {
    font-size: 20px;
  }

  .genres {
    width: 300%;
    height: 200px;
  }

  .genre-card {
    width: 150px;
    height: 200px;
  }

  .genre-name h3 {
    font-size: 30px;
  }

  .genre-arrow {
    bottom: 120px;
    width: 100%;
    padding: 10px;
  }

  #move-forward {
    right: 350px;
    animation: moveForward ease 0.5s;
  }

  @keyframes moveForward {
    0% {
      right: 0;
    }
    100% {
      right: 350px;
    }
  }

  @keyframes moveBackward {
    0% {
      right: 350px;
    }
    100% {
      right: 0;
    }
  }
}

@media ((min-width: 481px) and (max-width: 768px)) {
  .genres-container {
    padding: 20px;
  }

  .genres-title {
    font-size: 25px;
  }

  .genres {
    width: 170%;
    height: 250px;
  }

  .genre-card {
    width: 180px;
    height: 250px;
  }

  .genre-name h3 {
    font-size: 30px;
  }

  .genre-arrow {
    bottom: 120px;
    width: 100%;
    padding: 10px;
  }
}
