.itemListContainer-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: black;
}

.itemListContainer {
  display: flex;
  width: 110%;
  height: 250px;
  position: relative;
}

.itemList-arrow {
  position: relative;
  bottom: 150px;
  height: 1px;
  width: 82%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

#move-forw {
  right: 500px;
  animation: moveForw ease 0.5s;
}

#move-backw {
  right: 0;
  animation: moveBackw ease 0.5s;
}

#move-forw-forw {
  right: 600px;
  animation: moveForwForw ease 0.5s;
}

#move-backw-mid {
  right: 335px;
  animation: moveBackwMid ease 0.5s;
}

@keyframes moveForw {
  0% {
    right: 0;
  }
  100% {
    right: 500px;
  }
}

@keyframes moveBackw {
  0% {
    right: 500px;
  }
  100% {
    right: 0;
  }
}

@keyframes moveBackwMid {
  0% {
    right: 600px;
  }
  100% {
    right: 335px;
  }
}

@keyframes moveForwForw {
  0% {
    right: 335px;
  }
  100% {
    right: 600px;
  }
}

.arrow-list-button {
  border: none;
  background-color: #ffffff00;
  color: rgba(255, 255, 255, 0.801);
  cursor: pointer;
}

.arrow-list-icon {
  opacity: 0.4;
  transition: opacity 0.5s;
}

.arrow-list-icon:hover {
  opacity: 1;
}

#arrow-list-hidden {
  display: none;
}

#arrow-list-show {
  display: contents;
}

.aux-list-hidden {
  display: none;
}

.aux-list-show {
  width: 100px;
}

@media (max-width: 480px) {
  .itemListContainer {
    height: 200px;
    width: 110%;
  }

  .aux-list-show {
    width: 5px;
  }

  .itemList-arrow {
    width: 46%;
    bottom: 120px;
    padding: 5px;
  }

  #move-forw {
    right: 335px;
    animation: moveForw ease 0.5s;
  }

  @keyframes moveForw {
    0% {
      right: 0;
    }
    100% {
      right: 335px;
    }
  }

  @keyframes moveBackw {
    0% {
      right: 335px;
    }
    100% {
      right: 0;
    }
  }
}
