.card {
  display: flex;
  flex-wrap: wrap;
}

.card-img-container {
  display: flex;
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center center;
  transition: transform 0.5s;
}

.card-img-container:hover {
  transform: scale(1.1, 1.1);
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.521);
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
}

.card-info:hover {
  opacity: 1;
}

.card-detail {
  margin: 0;
  padding-left: 10px;
  font-weight: 100;
}

.category {
  font-size: 18px;
  margin-bottom: 5px;
}

#name {
  text-align: left;
  margin-bottom: 10px;
  font-size: 30px;
}

#genre {
  font-size: 20px;
  text-decoration: overline;
}

#Movie {
  text-shadow: 2px 2px 5px rgb(67, 138, 245);
}

#Series {
  text-shadow: 2px 2px 5px rgb(144, 67, 245);
}

#Docuseries {
  text-shadow: 2px 2px 5px rgb(24, 204, 84);
}

@media (max-width: 470px) {
  .card-img-container {
    width: 150px;
    height: 150px;
    transition: transform 0.5s;
  }

  .category {
    font-size: 15px;
  }

  #name {
    font-size: 20px;
  }

  #genre {
    font-size: 18px;
  }
}
