.footer {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.social-media {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  padding-left: 50px;
}

.social-media a {
  text-decoration: none;
  color: white;
}

.legal {
  color: white;
  font-weight: 100;
  font-size: 15px;
  padding-right: 20px;
}

@media (max-width: 480px) {
  .social-media {
    width: 100px;
    padding-left: 10px;
  }

  .legal {
    font-size: 12px;
    padding-right: 10px;
    width: 220px;
  }
}
