.highlight {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.highlight-info {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

.highlight-info h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 100;
}

.highlight-info p {
  text-align: left;
  font-size: 20px;
}

.highlight-buttons {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-evenly;
}

.highlight-content {
  background-image: url(https://res.cloudinary.com/drdgu83bp/image/upload/v1684257888/pelis/sad_rcqx3e.jpg);
  background-size: cover;
  background-position: center center;
}

.highlight-video {
  opacity: 0;
  transition: opacity 1s;
  background-color: black;
}

.highlight-video:hover {
  opacity: 1;
}

@media (max-width: 480px) {
  .highlight {
    height: 200px;
    margin-bottom: 20px;
  }

  .highlight-info {
    width: 40%;
  }

  .highlight-info h2 {
    font-size: 20px;
  }

  .highlight-info p {
    font-size: 12px;
  }

  .highlight-buttons {
    width: 120px;
  }
}

@media ((min-width: 481px) and (max-width: 768px)) {
  .highlight {
    height: 250px;
    margin-bottom: 40px;
  }

  .highlight-info {
    width: 40%;
  }

  .highlight-info h2 {
    font-size: 25px;
  }

  .highlight-info p {
    font-size: 18px;
  }

  .highlight-buttons {
    width: 200px;
  }
}
