.exclusive {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: black;
  overflow: hidden;
  padding-left: 50px;
}

.exclusive-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}

.exclusive-info h2 {
  margin: 0;
  font-weight: 100;
  font-size: 30px;
}

.exclusive-info p {
  font-size: 20px;
  margin-top: 0;
}

@media (max-width: 480px) {
  .exclusive {
    padding-left: 10px;
  }

  .exclusive-info h2 {
    font-size: 20px;
  }

  .exclusive-info p {
    font-size: 15px;
  }
}

@media ((min-width: 481px) and (max-width: 768px)) {
  .exclusive {
    padding-left: 20px;
  }

  .exclusive-info h2 {
    font-size: 25px;
  }

  .exclusive-info p {
    font-size: 18px;
  }
}
