.trending {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
  background-color: black;
}

.trending-title {
  color: white;
  font-weight: 100;
  font-size: 30px;
}

@media (max-width: 470px) {
  .trending {
    padding-left: 10px;
    height: 220px;
  }

  .trending-title {
    font-size: 20px;
  }
}

@media ((min-width: 481px) and (max-width: 768px)) {
  .trending {
    padding-left: 20px;
    height: 270px;
  }

  .trending-title {
    font-size: 25px;
  }
}
